[Unit]
Description=captive portal service

[Service]
ExecStart=/usr/bin/python3 -u /home/pi/RaspiWiFi/libs/configuration_app/app.py
WorkingDirectory=/home/pi

[Install]
WantedBy=multi-user.target
