<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Door Opening system">
    <meta name="author" content="AIOTIK C.A.">
    <meta name="keywords" content="Door system iot">

    <!-- Title Page-->
    <title>Door Dashboard</title>

    <!-- Fontfaces CSS-->
    <link href="../css/font-face.css" rel="stylesheet" media="all">
    <link href="../vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="../vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="../vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="../vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- ../Vendor CSS-->
    <link href="../vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="../vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="../vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="../vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="../vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="../vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="../vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="../css/theme.css" rel="stylesheet" media="all">
    <link rel="Stylesheet" href="../css/cleanslate.css" />
    <link rel="Stylesheet" href="../css/jquery.weekLine.css" />
    <link href="../css/picktim.css" rel="stylesheet">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop3 d-none d-lg-block">
            <div class="section__content section__content--p35">
                <div class="header3-wrap">
                    <div class="header__logo">
                        <a href="/">
                            <img src="../images/icon/logo-white.png" alt="CoolAdmin" />
                        </a>
                    </div>
                    <div class="header__navbar">
                        <ul class="list-unstyled">
                            <li>
                                <a href="/add/cycle">
                                    <i class="zmdi zmdi-plus"></i>Add a New Cycle
                                    <span class="bot-line"></span>
                                </a>
                            </li>
                            <li>
                                <a href="/change_system_hour">
                                    <i class="zmdi zmdi-time"></i>
                                    <span class="bot-line"></span>Change System Hour</a>
                            </li>
                            <li>
                                <a href="/system_test">
                                    <i class="zmdi zmdi-alert-circle-o"></i>
                                    <span class="bot-line"></span>Test Opening System</a>
                            </li>
                            <li>
                                <a href="" onclick="system_reboot()">
                                    <i class="zmdi zmdi-power"></i>
                                    <span class="bot-line"></span>Reboot System</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__tool">
                        <div class="header-button-item has-noti js-item-menu">
                            <i class="zmdi zmdi-notifications"></i>
                            <div class="notifi-dropdown notifi-dropdown--no-bor js-dropdown">
                                <div class="notifi__title">
                                    <p>You have 3 Notifications</p>
                                </div>
                                <div class="notifi__item">
                                    <div class="bg-c1 img-cir img-40">
                                        <i class="zmdi zmdi-email-open"></i>
                                    </div>
                                    <div class="content">
                                        <p>You got a email notification</p>
                                        <span class="date">April 12, 2018 06:50</span>
                                    </div>
                                </div>
                                <div class="notifi__footer">
                                    <a href="#">All notifications</a>
                                </div>
                            </div>
                        </div>
                        <div class="account-wrap">
                            <div class="account-item account-item--style2 clearfix js-item-menu">
                                <div class="image">
                                    <img src="../images/icon/avatar-03.jpg" alt="Weedie Sweet" />
                                </div>
                                <div class="content">
                                    <a class="js-acc-btn" href="#">Weedie Sweet</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER DESKTOP-->

        <!-- HEADER MOBILE-->
        <header class="header-mobile header-mobile-2 d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="/">
                            <img src="../images/icon/logo-white.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li>
                            <a href="/add/cycle">
                                <i class="zmdi zmdi-plus"></i>Add a New Cycle
                                <span class="bot-line"></span>
                            </a>
                        </li>
                        <li>
                            <a href="/change_system_hour">
                                <i class="zmdi zmdi-time"></i>
                                <span class="bot-line"></span>Change System Hour</a>
                        </li>
                        <li>
                            <a href="/system_test">
                                <i class="zmdi zmdi-alert-circle-o"></i>
                                <span class="bot-line"></span>Test Opening System</a>
                        </li>
                        <li>
                            <a href="" onclick="system_reboot()">
                                <i class="zmdi zmdi-power"></i>
                                <span class="bot-line"></span>Reboot System</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="sub-header-mobile-2 d-block d-lg-none">
            <div class="header__tool">
                <div class="header-button-item has-noti js-item-menu">
                    <i class="zmdi zmdi-notifications"></i>
                    <div class="notifi-dropdown notifi-dropdown--no-bor js-dropdown">
                        <div class="notifi__title">
                            <p>You have 3 Notifications</p>
                        </div>
                        <div class="notifi__item">
                            <div class="bg-c1 img-cir img-40">
                                <i class="zmdi zmdi-email-open"></i>
                            </div>
                            <div class="content">
                                <p>You got a email notification</p>
                                <span class="date">April 12, 2018 06:50</span>
                            </div>
                        </div>
                        <div class="notifi__footer">
                            <a href="#">All notifications</a>
                        </div>
                    </div>
                </div>
                <div class="account-wrap">
                    <div class="account-item account-item--style2 clearfix js-item-menu">
                        <div class="image">
                            <img src="../images/icon/avatar-03.jpg" alt="Weedie Sweet" />
                        </div>
                        <div class="content">
                            <a class="js-acc-btn" href="#">Weedie Sweet</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END HEADER MOBILE -->

        <!-- PAGE CONTENT-->
        <div class="page-content--bgf7">

            <!-- WELCOME-->
            <section class="welcome p-t-10">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="title-4 align-middle" style="padding-top:1.5%">
                                <span>Add a Cycle</span>
                            </h1>
                            <hr class="line-seprate">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="title-4" style="padding-top:1.5%">
                                <span id="real_time"></span>
                            </h1>
                            <hr class="line-seprate">
                        </div>
                    </div>
                </div>
            </section>
            <!-- END WELCOME-->

            <section class="statistic statistic2">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <label>
                                Set Day for the Cycle:
                                <span id="weekCal"></span>
                                <span style="display:none; color:red" id="select_days">Please select the days of the week for this cycle</span>
                            </label>
                        </div>
                        <div class="col-lg-2">
                            <label>
                                Set Hour for the Cycle: 
                                    <div class="timepicker" id="timepicker" style="border-color:#383838 !important;border: 1px !important;border-style: solid !important;"></div>
                                    <span style="display:none; color:red" id="select_hour">Please select the starting hour for the cycle</span>
                            </label>
                        </div>
                        <div class="col-md-1">
                            <i class="zmdi zmdi-help" data-toggle="tooltip" data-placement="right" title="Click on AM or PM to toggle between them"></i>
                        </div>
                        <div class="col-lg-3">
                            <label>
                                Set Cycle Duration (in Seconds): 
                                  <input type="number" value="0" style="width:8ch !mportant;border-color:#383838 !important;border: 1px !important;border-style: solid !important;" step="0.10" max="999" min="0" id="new_duration" onchange="verif_duration(this)">
                            </label>
                        </div>
                        <div class="col-lg-3 align-middle">
                            <label style="margin:0px !important;" class="align-middle">
                                Set Cycle Status:
                            </label>
                                    <i class="zmdi zmdi-check zmdi-hc-3x" style="" id="cycle_status" status="true" onclick="change_status()"></i>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-lg-12" style="margin-top:5%">
                            <button type="button" class="btn btn-success btn-block" onclick="save_cycle()">Save</button>
                        </div>
                    </div>
                </div>
            </section>

            <!-- COPYRIGHT-->
            <section class="p-t-60 p-b-20">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                            <p>Developed by <a href="https://www.instagram.com/aiotik_/?hl=es">AIOTIK C.A. <img src="../images/aiotik-isotipo.png" style="width:70px; height:70px"></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END COPYRIGHT-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="../vendor/jquery-3.2.1.min.js"></script>
    <script src="../vendor/jquery-1.12.4.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="../vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="../vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- ../Vendor JS       -->
    <script src="../vendor/slick/slick.min.js">
    </script>
    <script src="../vendor/wow/wow.min.js"></script>
    <script src="../vendor/animsition/animsition.min.js"></script>
    <script src="../vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="../vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="../vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="../vendor/circle-progress/circle-progress.min.js"></script>
    <script src="../vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="../vendor/select2/select2.min.js">
    </script>
    <script src="../js/picktim.js"></script>
    <script src="../js/jquery.weekLine.min.js"></script> 
    <!-- Main JS-->
    <script src="../js/main.js"></script>
    <script src="../js/time.ctrl.js"></script>
    <script src="../js/input.ctrl.js"></script>
    <script src="../js/system_reboot.js"></script>
    <script>
    let get_cycles=[];
    let hour;
    $(".timepicker").picktim({
                                mode: 'h12',
                                defaultValue: '00:00',
                                icons: {
                                        up: 'zmdi zmdi-chevron-up',
                                        down: 'zmdi zmdi-chevron-down'
                                    }
                            });



        $("#weekCal").weekLine({
        mousedownSel: false,
        onChange: function () {
            let get_cycles = [];
                $("#selectedDays").html(
                        $(this).weekLine('getSelected')
                );

                for(let i =0;i<$('.selectedDay').length;i++){
                    get_cycles.push(document.getElementsByClassName("selectedDay").item(i).innerHTML);
                }
        }
        });

        function save_cycle(){
            for(let i =0;i<$('.selectedDay').length;i++){
                get_cycles.push(document.getElementsByClassName("selectedDay").item(i).innerHTML);
            }
            let new_hour = document.getElementById("new_hour").value;
            
            if(get_cycles.length == 0){
                document.getElementById("select_days").setAttribute("style","display:block");
            }else{
            if(new_hour){
                get_cycles = get_cycles.filter( onlyUnique );
            $.ajax({
                url:"/device/new_cycle",
                method:"POST",
                data:{
                    day:get_cycles,
                    hour:new_hour+":00",
                    duration:document.getElementById("new_duration").value,
                    status:document.getElementById("cycle_status").getAttribute("class")
                }
            }).done(function(data){
                get_cycles = [];
                location.replace("/");
            }).fail(function(err){
                console.log(err);
                get_cycles =[];
            })
            }else{
                document.getElementById("select_hour").setAttribute("style","display:block");
            }
        }
        }

        function change_status(){
            let aux = document.getElementById("cycle_status").getAttribute("class");
            if(aux.includes("check")){
                document.getElementById("cycle_status").setAttribute("class","zmdi zmdi-close zmdi-hc-3x")
            }else{
                document.getElementById("cycle_status").setAttribute("class","zmdi zmdi-check zmdi-hc-3x")
            }
            
        }

        function onlyUnique(value, index, self) { 
            return self.indexOf(value) === index;
        }

        function verif_duration(elem){
            if(elem.value<0){
                elem.value = 0;
            }
            
            if(elem.value>999){
                elem.value = 999;
            }
        }

    </script>
</body>

</html>
<!-- end document-->